@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root{
  /* ### Neutral */
--darkText: hsl(229, 25%, 31%);
--scoreText: hsl(229, 64%, 46%);
--headerOutline: hsl(217, 16%, 45%);
}

* , *::after , *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(circle at 50% 10% ,hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
  min-height: 100vh;
  color: #fff;
}
.wrapper-container{
  margin: 0 auto;
  width: 550px;
  max-width: 100%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem ;
  padding: 15px;
  border: 2px solid var(--headerOutline);
  border-radius: 5px;
}

.score-wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.score-container{
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.score-container h4{
  color: var(--scoreText);
}

.score-container p{
  color: var(--headerOutline);
  font-size: 2.2rem;
}


/* attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }